PORT=8080
DB=mttblog:docker@tcp(hedgehog)/mttblog?parseTime=true&loc=Europe%2FMoscow
HOST=morontt.info
HEADER_TEXT=Всякие разности
CDN_BASE_URL=https://cdn.localhost.tools
AUTHOR=Max Mustermann
AUTHOR_BIO=bio
ADMIN_EMAIL=admin@example.com
AUTHOR_TELEGRAM=example
AUTHOR_GITHUB=example
BACKEND_API_URL="https://zendblog.xelbot.com"
BACKEND_API_USER=username
BACKEND_API_WSSE_KEY="Ef1Cgsk+GgkH9AM0FZfV+eYE"
TELEGRAM_TOKEN="836658654:UCRM_FuT2CoMmGpn79dwtB5cYSFTZmlKqGC"
TELEGRAM_ADMIN_ID=527347462
SESSION_HASH_KEY="hash key"
