PORT=8080
DEV_MODE=true
DB=mttblog:docker@tcp(hedgehog)/mttblog?parseTime=true&loc=Europe%2FKiev
HOST=morontt.info
HEADER_TEXT=Всякие разности
CDN_BASE_URL=https://cdn.localhost.tools
AUTHOR=Max Mustermann
AUTHOR_BIO=bio
ADMIN_EMAIL=admin@example.com
AUTHOR_INSTAGRAM=example
AUTHOR_GITHUB=example
