{{define "author-info"}}
<section class="author-info">
    <div class="row">
        <section class="post-author small-12 columns">
            <img src="{{ cdn }}/assets/images/space_200.png"
                 class="post-author-avatar"
                 alt="morontt">
            <span class="author-label">Author</span>
            <h1><a href="/" class="author-link-name">morontt</a></h1>
            <p>bio</p>
        </section>
    </div>
</section>
{{end}}