{{define "author-info"}}
<section class="author-info">
    <div class="row">
        <section class="post-author small-12 columns">
            <img src="{{ cdn }}/images/space_200.png"
                 class="post-author-avatar"
                 alt="morontt">
            <span class="author-label">Автор</span>
            <h2><a href="{{path "info-page"}}" class="author-link-name">{{author_name}}</a></h2>
            <p>{{author_bio}}</p>
        </section>
    </div>
</section>
{{end}}
