{{define "sticky-header"}}
<div class="headroom headroom--top">
    <div class="row row-with-header-logo">
        <div class="small-6 columns headroom-logo">
            <a class="blog-logo" href="/">
                <img src="{{ cdn }}/images/logo.svg"
                     alt="Blog Logo" />
            </a>
        </div>
        <div class="small-6 columns text-right headeroom-icons">
            <i class="fa fa-fw fa-bars js-open-main-menu"></i>
        </div>
    </div>
</div>
{{end}}
