<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://old.xelbot.com/article/testovaya-zapis</loc>
        <lastmod>2016-11-25T07:18:31+02:00</lastmod>
    </url>
    <url>
        <loc>https://old.xelbot.com/info</loc>
        <lastmod>2013-01-02T13:47:11+02:00</lastmod>
    </url>
</urlset>
