<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{.BrowserTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"
          rel="stylesheet"
          href="/assets/css/login.css"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" enctype="application/x-www-form-urlencoded" method="POST">
            <input type="text"
                   name="username"
                   placeholder="username"/>
            <input type="password"
                   name="password"
                   placeholder="password"/>
            <button type="submit">login</button>
        </form>
    </div>
</div>
</body>
</html>
