
// main rem font base and rem calc function
$rem-base: 16 !default;
@function rem-calc($pxWidth) {
  @return $pxWidth / $rem-base * 1rem;
}

$row-max-width: rem-calc(1200);

// font family
$main-font: Consolas, "Lucida Console", monospace;
$main-font-weight: 200;

$headers-font: 'Raleway', sans-serif;
$headers-weight: 900;
$headers-transform: none;

// colors

$color-main-dark: #23222D;
$color-main-light: #ffffff;
//$color-main-contrast: #FF4D4D;
$color-main-contrast: #90A54A;
$color-headers: $color-main-dark;

// custom theme mixins
// example:
// clearfix usage:
//  .some-div {
//      ...
//      @extend %clearfix;
//  }

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin green-button {
    display: inline-block;
    padding: rem-calc(5) rem-calc(15);
    background: $color-main-contrast;
    color: $color-main-light;
    font-weight: 400;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: rem-calc(3);
    margin-bottom: rem-calc(3);

    &:hover {
        color: $color-main-light;
        background: lighten($color-main-contrast, 5%);
    }

    &:focus, &:active {
        color: $color-main-light;
    }
}
