@import "settings";

section.comments {
    background: darken($color-main-light, 3%);
    padding: 0;
    margin: 0 rem-calc(15) 0;
    border-radius: rem-calc(5);

    .comment-item {
        .comment-body {
            background: $color-main-light;
            margin-bottom: 1em;
            padding: 9px 0.6em 0.6em 9px;
            border-radius: 0 0 rem-calc(5) rem-calc(5);

            .avatar {
                box-sizing: content-box;
                border: $color-main-light 3px solid;
                background: $color-main-light;
                padding: 0;
                height: 80px;
                width: 80px;
                margin-top: -34px;
                float: left;
                border-radius: rem-calc(7);

                img {
                    border-radius: rem-calc(6);
                }
            }

            .comment-text {
                margin-left: 99px;
            }

            .comment-reply {
                margin: 0.5em 0 0;
                padding: 0.3em 0 0;
                text-align: right;

                span {
                    @include green-button;
                }

                &:after {
                    clear: left;
                }
            }
        }

        .comment-header {
            background: $color-main-contrast;
            padding: 4px 1em 4px 108px;
            color: $color-main-light;
            border-radius: rem-calc(5) rem-calc(5) 0 0;
            font-weight: 400;

            time {
                float: right;
                display: inline;
                color: $color-main-light;
            }

            a {
                color: #FFF200;
                text-decoration: none;

                &:after {
                    content: "↵";
                }
            }
        }

        @for $idx from 1 through 20 {
            &.depth-#{$idx} {
                margin-left: ($idx - 1) * 1.5rem;
            }
        }
    }
}
