.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyph-fw {
    width: 1.3em;
    text-align: center
}

// Individual icons
.glyphicon-user                   { &:before { content: "\e008"; } }
.glyphicon-off                    { &:before { content: "\e017"; } }
.glyphicon-home                   { &:before { content: "\e021"; } }
.glyphicon-chevron-left           { &:before { content: "\e079"; } }
.glyphicon-chevron-right          { &:before { content: "\e080"; } }
.glyphicon-chevron-up             { &:before { content: "\e113"; } }
.glyphicon-circle-arrow-left      { &:before { content: "\e132"; } }
.glyphicon-link                   { &:before { content: "\e144"; } }
.glyphicon-log-in                 { &:before { content: "\e161"; } }
.glyphicon-stats                  { &:before { content: "\e185"; } }
.glyphicon-menu-hamburger         { &:before { content: "\e236"; } }
