{{define "powered-by"}}
<section class="powered-by">
    <a href="https://gitverse.ru/morontt/reprogl">Напрограммировано</a> на Go {{go_version}},
    версия движка <a class="ghash" href="https://gitverse.ru/morontt/reprogl/commit/{{commit_hash}}">{{commit_hash}}</a>
</section>
{{end}}
